<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskmanager</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section id='doList'>
        <div class='listBlock do'>
            <h3>DO</h3>
            <ul>
                <li v-for="toDo in toDoList">{{ toDo }}</li>
            </ul>
            <button @click="moveToDone">Transfer</button>
        </div>

        <div class='listBlock done'>
            <h3>DONE</h3>
            <ul>
                <li v-for="Done in doneList">{{ Done }}</li>
            </ul>
            <button @click="moveToDo">Transfer</button>
        </div>
    </section>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="main.js"></script>

</html>