* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(76, 146, 148, 0.993);
}

form {
  display: flex;
  flex-direction: column;
  position: fixed;

  padding: 15px;
  top: 50vh;
  transform: translateY(-50%);
  transition: left 0.5s;

  width: 300px;
  border: 1px solid black;
  background-color: #ffffff;
}

form.right {
  left: 100%;
}

form.center {
  left: 50%;
  transform: translate(-50%, -50%);
}

form > label {
  margin: 5px 0;
}

label > input {
  border: 1px solid gray;
}

.errorBlock {
  position: fixed;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
  padding: 15px;
  display: flex;
  justify-content: center;
  transition: top 0.5s;

  background-color: rgb(253, 181, 181);
  font-size: 24px;
}

.errorBlock.show {
  top: 0;
}
